:root {
    --main-color: #06de9d;
    --main-color-hover: #019b71;
}

body {
    background-color: #1f1f1f;
    font-family: Inter-Regular, serif;
}

.header {
    padding-top: 25px;
}
.header .title h2 a {
    color: black;
    text-decoration: none;
}
.header .title h2 a:hover {
    color: var(--main-color-hover);
    text-decoration: none;
    transition: all .2s ease;
}
.header .nav {
    float: right;
    padding-top: 20px;
}
.header .nav ul li {
    display: inline-block;
    list-style-type: none;
}
.header .nav a {
    color: var(--main-color);
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    text-decoration: none;
    font-family: Inter-Bold, serif;
    transition: all .2s ease;
}
.header .nav a:hover {
    color: var(--main-color-hover);
}
.header .nav .active {
    color: var(--main-color-hover);
}

.page {
    background-color: #eaeaea;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
}
.page hr {
    border: none;
    border-top: medium double var(--main-color);
}
.page a {
    color: var(--main-color-hover);
    text-decoration: none;
    transition: all .2s ease;
}
.page a:hover {
    color: var(--main-color);
    text-decoration: none;
}
.page .form-wrapper {
    text-align: center;

}
.page .form-wrapper .form-title h3 {
    font-size: 18px;
    padding-bottom: 16px;
}
.page .form-wrapper form label {
    display: block;
}
.page .form-wrapper form label span {
    color: red;
}
.page .form-wrapper form input[type="text"], [type="email"], [type="password"] {
    margin-bottom: 13px;
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    width: 60%;
}
.page .form-wrapper form input[type="submit"] {
    margin-top: 10px;
    padding: 7px 14px 7px 14px;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: all .2s ease;
    border: none;
}
.page .form-wrapper form input[type="submit"]:hover {
    background-color: var(--main-color-hover);
    color: white;
}
.page .form-wrapper .save-changes {
    text-align: center;
    padding-top: 12px;
}
.page .secret-info {
    background-color: #e3e3dc;
    width: 65%;
    margin-bottom: 40px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
}
.page .secret-info .secret-key {
    font-family: SourceCodePro, serif;
    background-color: rgba(128, 128, 128, 0.22);
    padding-left: 7px;
    margin-bottom: 15px;
    height: 30px;
    overflow-y: scroll;
    border-radius: 5px;
}
.page .api-calls {
    text-align: center;

}
.page .api-calls p span {
    font-family: Inter-Bold, serif;
}
.page .page-header {
    padding-bottom: 15px;
}
.page .table-wrapper {
    overflow-y: scroll;
}
.page .table-wrapper table {
    text-align: center;
    width: 100%;
    border: 1px double grey;
}
.page .table-wrapper table th {
    border: 1px double grey;
}
.page .table-wrapper table td {
    border: 1px double grey;
}
.page .table-wrapper table thead tr {
    background-color: var(--main-color);
}
.page .table-wrapper table tbody tr:nth-child(odd) {
    background-color: #eaeaea;
}
.page .table-wrapper table tbody tr:nth-child(even) {
    background-color: white;
}
.page .table-wrapper table tbody tr td a {
    font-family: Inter-Bold, serif;
    color: var(--main-color-hover);
    text-decoration: none;
    transition: all .2s ease;
    padding-right: 10px;
    padding-left: 10px;
}
.page .table-wrapper table tbody tr td a:hover {
    color: var(--main-color);
}
.page .table-wrapper .delete {
    color: #ff0000;
}
.page .table-wrapper .delete:hover {
    color: #a60000;
}
.no-overflow {
    overflow-y: scroll;
}
.page .btn-primary {
    margin-top: 10px;
    padding: 7px 14px 7px 14px;
    background-color: var(--main-color);
    border-radius: 6px;
    transition: all .2s ease;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}
.page .btn-primary:hover {
    background-color: var(--main-color-hover);
    color: white;
}

@media screen and (max-width: 1000px) {
    .header .nav ul li {
        display: block;
    }
}